// Import partials here
@import 'base.normalize';
@import 'settings.variables';
@import 'settings.responsive';
@import 'components.content';

// TODO: Refactor these styles to use Sass features

.static-block {
  border-top: 3px solid $purple;
  
}
.static-block__title {
  margin: 4rem 0 0;
  font-size: 1.5rem;
  font-family: arial, helvetica, sans-serif;
  font-weight: 400;
  color: $purple;
}

.static-block__copy {
  margin-bottom: 1rem;
  font-size: 1rem;
  font-family: arial, helvetica, sans-serif;
  color: $blue;
}
.static-block__img {
  display: block;
  max-width: 100%;
  margin: auto;
  border-bottom: 5px solid $blue;
}
.static-block__content {
  border-bottom: 5px solid $gray;
  margin: 2rem auto;
}
.static-block:last-of-type .static-block__content {
  border: none;
}